<app-title [title] = "'Events'"></app-title>
  <hr>

  <div class="form-inline">
    <div class="form-group mb-2">
      <label for="filter" class="me-2">Filter: </label>
      <input type="text" id="filter" class="form-control mr-2" placeholder="Search" [(ngModel)]="filterRows">
    </div>
  </div>
  <h2>Filtro: {{filterRows}}</h2>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>
          <button type="button" class="btn btn-outline-light btn-md" (click)="AlterImage()">
            <i class="{{showImage ? 'fa fa-eye' : 'fa fa-eye-slash'}}">  </i>
            {{!showImage ? "Exibir" : "Ocultar" }}
          </button>
        </th>
        <th>#</th>
        <th>Theme</th>
        <th>Place</th>
        <th>Date</th>
        <th>Max People</th>
        <th>Batch</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody *ngIf="events && events.length">
      <tr *ngFor="let event of filteredEvents">
        <td>
          <img [collapse]="!showImage"
          [isAnimated] = "true"
          src="../../assets/{{event.imageURL}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"

          >
        </td>
        <td>{{event.id}}</td>
        <td>{{event.theme}}</td>
        <td>{{event.place}}</td>
        <td>{{event.date | DateFormatPipe}}  </td>
        <td>{{event.maxPeople}}</td>
        <td>{{event.batches[0].name | uppercase}}</td>
        <td>
          <button class="btn btn-primary btn-sm mr-2" tooltip="Editar"> <i class="fa fa-edit" (click)="openModal(templateEdit)"></i></button>
          <button class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)"><i class="fa fa-trash" ></i></button>
        </td>
      </tr>

    </tbody>
    <tfoot *ngIf="!events.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </table>


  <ng-template #template>
    <div class="modal-body text-center">
      <p>Delete this event?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>

  <ng-template #templateEdit>
    <div class="modal-body text-center">
      <p>Update this event?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>

